@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');*/

:root {
    
    /*---Primary Color---*/
    
    --bg-body: #120d0a;
    --txt-color: #fdd1a1;
    
    /*---Neutral Color---*/
    
    --Very-dark-blue: hsl(120, 85%, 8%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    
    /*---Fonts---*/
    
    --mn-text: 'Fraunces', serif;
    --bg-text: 'Montserrat', sans-serif;    
    --dc-text: 'Josefin Slab', serif;    
    
}

/*--------------------------------------------------------*/

* {
    box-sizing: border-box;   
}

body {
    background-color: var(--bg-body);
    font-family: var(--mn-text);
}

main {
    border-radius: 1em;
    color: var(--txt-color);
    margin-top: 1em;
}

article {
    padding: 2em;
}

p {    
    line-height: 1.6em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 1em .1em;
    padding: 0;
    /*
    text-align: center;  
     Centra el contenido de los <li> */
}

li {
    
    font-weight: normal;
    font-size: medium;
    /* 
    margin: 5px 0;  
    Añade un margen si es necesario */
}
ul {
}

li {
}

.col {
    margin: 0;
}

h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

img{
    padding: .8em 0em .1em;
}

a {
    text-decoration: none;
    font-size: medium;
}


/*--------------------------------------------------------*/
/* <uniquifier>: Use a unique and descriptive class name
/ <weight>: Use a value from 100 to 700*/

.tipograf {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*--------------------------------------------------------*/

.btn {
    border: none;
    border-radius: .6em;
    display: flex; 
    color: var(--White);
    background-color: var(--Dark-cyan);
}

.btn:hover {
    background-color: #293f29;
}

.btn img {
    object-fit: scale-down;
    object-position: left;
    max-height: 2em;
}


/*---------------------Footer-------------------------*/

.attribution { 
    margin-top: 16vh;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--Dark-cyan);    
}

.attribution a:hover {
    color: var(--Dark-cyan);
    text-shadow: var(--Dark-cyan) 1px 0 10px;
    
}

/*------------------Media Queries-----------------------*/

/*
@media (max-width: 610px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        
        width: 340px;
        height: 600px;

        margin-top: 0em;
        /*    
        
    }
    .desk {
        display: none;
    }
    
    article > * {
        margin: .2em 0em;
    }
    
    .mob {
        display: block;
        border-radius: 1em 1em 0em 0em;
        max-width: 100%;
    }
    .attribution { 
        margin-top: 4vh;
        font-size: 8px;
    }
    
    footer {
        display: grid;
        row-gap: .7em;
        
    }
    
}
*/